{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": true,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "endOfLine": "auto",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "importOrderParserPlugins": [
          "typescript"
        ]
      }
    }
  ]
}
