.filepond--root {
	width: 100% !important;
}
.filepond--wrapper {
	display: unset !important;
	border: 2px dashed #e5e7eb;
	border-radius: 5px;
}

.filepond--root {
	width: 120px;
	cursor: default;
}

.filepond--drop-label {
	cursor: pointer;
    background: unset !important;
	
}
.filepond--drop-label {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: #fff !important;
	border: none !important;
	box-shadow: none !important;
}