@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --bg-light: #EFE4CF;
    background: var(--bg-light);
    font-family: 'Popins', sans-serif !important;

}